@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap');

/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', 'PT Sans Narrow', sans-serif;
}

/* main heading */
@media only screen and (min-width: 360px) {
  .wrapper {
    min-height: calc(100vh - 1471px);
  }

  .container-booking {
    width: 80%;
    margin: auto;
  }

  .booking-heading {
    display: flex;
    width: 100%;
    margin-top: 5em;
    justify-content: space-between;
  }

  .announcement {
    text-align: center;
    font-size: 3.5rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }

  /*Form for booking*/
  .gradient-background {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .position {
    position: relative;
  }

  .box-change {
    width: 80%;
    background-color: white;
    padding: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    border-radius: 25px;
  }

  /*Departure selection*/
  .booking-box {
    position: relative;
    width: 100%;
    padding-bottom: 1rem;
  }

#departure-location {
  font-size: 2rem;
}

  .select {
    position: relative;
    margin: auto;
    width: 100%;
  }

  .select-heading {
    font-size: 3rem;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .relative {
    position: relative;
  }

  .selection {
    border-color: #666666;
    border-radius: 5px;
    border-style: solid;
    width: 100%;
    height: 7rem;
    -webkit-appearance: none;
    font-size: 2rem;
    /*Wraps text*/
    overflow: hidden;
    /*Altered two below to make word wrap work */
    word-wrap: normal !important;
    white-space: normal;
    /*Sets the left offset*/
    padding-left: 14px;
    /*Sets the "right" wrap */
    padding-right: 16px;
  }

  .selection:hover {
    border-color: #f10000;
  }

  .selection option {
    position: absolute;
    left: 32px;
  }

  .selection option:hover {
    cursor: pointer;
  }

  .booking-box img[src*="down-arrow"] {
    /* position: relative;
    transform: translateX(-50%);
    left: 50%; */
    height: 32px;
    margin: auto;
    margin-top: 0.5rem;;
    margin-bottom: 0.5rem;
  }

  .flight-bookpc {
    width: 0px;
  }

  .flight-book {
    position: relative;
    width: 100%;
    margin-bottom: 2px;
    font-size: 3rem;
    max-height: none;
  }

  .offest1 {
    left: 16px;
  }

  /* Arrow Styles */
  .arrow {
    position: absolute;
    border: solid #f10000;
    border-width: 0 2px 2px 0;
    transform: rotate(-135deg);
    padding: 6px;
    right: 16px;
    top: 54px;
  }

  .arrow-down {
    transition-duration: 200ms;
    top: 48px;
    /*Rotates from original position so for a clockwise effect, this direction is required*/
    transform: rotate(-315deg);
  }

  .arrow-up {
    transition-duration: 200ms;
    top: 54px;
    transform: rotate(-135deg);
  }

  .disclaimer {
    z-index: 1;
    color: #666;
    font-size: 1.5rem;

  }

  /* Date Picker Styles*/
  select {
    height: 90px;
  }

  .fixed {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: white;
    z-index: 3;
  }

  .fixed .heading-div {
    position: relative;
    height: 15rem;
    background-color: #f10000;
  }

  .fixed .heading-div .date-picker-heading {
    position: absolute;
    left: 50%;
    /*width is 628px*/
    margin-left: -314px;
    top: 50%;
    /*height is 97px*/
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 5rem;
  }

  .date-picker {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: white;
    cursor: pointer;
    user-select: none;
  }

  .selected-date {
    position: absolute;
    z-index: 1;
    top: 35.5px;
    left: 16px;
    font-size: 2rem;
  }

  .date-picker .dates {
    position: absolute;
    left: 0;
    right: 0;
  }

  .date-picker .dates .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 623.5px;
  }

  .date-picker .dates .days .day {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
  }

  .unavailable {
    background-color: #666666;
    opacity: 0.7;
  }

  .date-picker .dates .months {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #f10000;
    padding: 2rem 2.5rem 2rem 2.5rem;
  }

  .date-picker .dates .months .pointers {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 3rem;
  }

  .date-picker .dates .months .mth {
    font-size: 3rem;
  }

  /*JS added classes*/

  .height-none {
    transition: 500ms;
    height: 0%;
  }

  .height-full {
    transition: 500ms;
    height: 100%;
  }

  .close-position {
    top: 1rem;
    right: 1rem;
  }

  .date-picker .dates .days .selected {
    color: white;
    background-color: #f10000;
    border: solid #f10000;
    border-radius: 20px;
  }

  .date-picker .set {
    position: absolute;
    font-size: 3rem;
    color: #f10000;
  }

  /* For PC*/
  .date-picker .dates .months .pointers:hover {
    /*pick some styling*/
  }

  /*Confirm page*/
  .confirm-fixed {
    z-index: 101;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 80%;
  }

  .confirm-box {
    position: relative;
    padding: 0;
    border-radius: 25px;
    /*This just keeps the header flattened*/
    z-index: -2;
    /*height: 1500px;*/
    background-color: white;
    overflow: hidden;
  }

  .confirm-box .confirm-heading-div {
    position: relative;
    background-color: #f10000;
    width: 100%;
    height: 200px;
    border-radius: 25px;
  }

  .confirm-box .confirm-heading-div-flatten {
    position: absolute;
    top: 175px;
    background-color: #f10000;
    width: 100%;
    height: 25px;
    z-index: -1;
  }

  .confirm-heading-div h1 {
    color: white;
    font-size: 3.5rem;
    text-align: center;
    margin: auto;
    margin-top: 2rem;
  }

  .confirm-heading-div p {
    color: white;
    font-size: 3rem;
    text-align: center;
    padding-top: 1rem;
    margin: auto;
    z-index: 1;
  }

  .confirm-content {
    position: absolute;
    top: 200px;
    height: 80%;
    width: 100%;
  }

  .confirm-content-background {
    margin: auto;
    width: 80%;
    height: 100%;
  }

  .confirm-content .second-heading {
    text-align: center;
    font-size: 3.5rem;
  }

  .confirm-flight-info {
    width: 100%;
    height: 80%;
    border-right: dashed #f10000;
    border-left: dashed #f10000;
  }

  .confirm-flight-info .content-heading {
    text-align: center;
    font-size: 3rem;
  }

  .confirm-flight-info .flight-info {
    font-size: 2.5rem;
    margin-left: 0.5rem;
  }

  .confirm-content-background .confirm-submit {
    border-radius: 20px;
    height: 160px;
    width: 300px;
    font-size: 3rem;
    position: absolute;
    right: 3.5rem;
    bottom: -7rem;
  }

  .confirm-content-background .go-back {
    left: 3.5rem;
    background-color: white;
    color: #f10000;
    border-color: #f10000;
  }

}

@media only screen and (min-width: 1024px) {

  .gradient-background {
    padding-top: 7rem;
    padding-bottom: 9rem;
  }

  .gradient-background .announcement {
    color: white;
    margin-top: 0;
  }

  .position {
    left: 50%;
    /*819.19/2*/
    margin-left: -409.56;
    bottom: 210px;
    padding: 0.5rem;
    padding-bottom: 1rem;
  }

  .booking-box .inline {
    display: flex;
  }

  .booking-box .select-heading {
    font-size: 2rem;
    margin-top: 1.5rem;
  }

  .booking-box .left {
    margin-right: 0.25rem;
  }

  .booking-box .right {
    margin-left: 0.25rem;
  }

  .selection,
  #departure-location {
    font-size: 1rem;
    height: 5rem;
    padding-right: 2rem;
  }

  .selected-date,
  #time1,
  #time2 {
    font-size: 1.5rem;
  }

  .selected-date {
    top: 25.5px;
  }

  .flight-book {
    font-size: 1.5rem;
  }

  .arrow {
    top: 39px;
  }

  .arrow-down {
    top: 33px;
  }

  img[src*="down"] {
    display: none;
  }

  /*Classes for JS*/

  .disclaimer {
    font-size: 1rem;
  }

  .height-none {
    height: 0;
  }

  .height-full {
    height: calc(100vh - 82px);
  }


  /*Date Picker*/
  .fixed {
    margin-top: 82px;
  }

  .fixed .heading-div {
    height: 9rem;
  }

  .fixed .heading-div .date-picker-heading {
    font-size: 2.5rem;
    margin-left: -157.25px;
    margin-top: -24.5;
  }

  .date-picker .dates .months .mth {
    font-size: 1.5rem;
  }

  .date-picker .dates .months .pointers {
    font-size: 2rem;
  }

  .date-picker .dates .days {
    height: 400px;
  }

  .date-picker .dates .days .day {
    font-size: 1.5rem;
  }

  .date-picker .dates .days .day:hover {
    color: #f10000;
    background-color: white;
    border: solid #f10000;
  }

  .date-picker .dates .days .unavailable:hover {
    background-color: #666666;
    opacity: 0.7;
    border: none;
    color: black;
  }

  /*confirm*/
  .confirm-box {
    top: 0;
  }

  .confirm-box .confirm-heading-div {
    height: 125px;
  }

  .confirm-heading-div h1,
  .confirm-heading-div p {
    margin-top: 1rem;
    font-size: 2rem;
    padding-top: 0;
  }

  .confirm-content {
    top: 125px;
  }

  .confirm-box .confirm-heading-div-flatten {
    top: 100px;
  }

  .confirm-content .second-heading {
    font-size: 2rem;
  }

  .confirm-flight-info .content-heading {
    font-size: 1.5rem;
  }

  .confirm-flight-info .flight-info {
    font-size: 1rem;
    margin-left: 0.5rem;
  }

  .disclaimer {
    font-size: 0.75rem;
  }

  .confirm-content-background .confirm-submit {
    height: 90px;
    width: 150px;
    font-size: 1rem;
    border-radius: 5px;
    bottom: -1rem;
    right: 5.5rem;
  }

  .confirm-content-background .go-back {
    left: 5.5rem;
  }

@media only screen and (min-width: 1440px) {

  #departure-location,
  #arrival-location {
    height: 9rem;
  }
}
