@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap');

/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', 'PT Sans Narrow', sans-serif;
}

/* main heading */
@media only screen and (min-width: 360px) {
  .container-booking {
    width: 80%;
    margin: auto;
  }

  .booking-heading {
    display: flex;
    width: 100%;
    margin-top: 5em;
    justify-content: space-between;
  }

  /*Form for booking*/
  .position {
    position: relative;
  }

  /*Departure selection*/
  .booking-box {
    position: relative;
    width: 100%;
    padding-bottom: 1rem;
  }

  .select {
    position: relative;
    margin: auto;
    width: 100%;
  }

  .select-heading {
    margin: auto;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .relative {
    position: relative;
  }

  .selection {
    border-color: #666666;
    border-radius: 5px;
    border-style: solid;
    width: 100%;
    height: 2.5rem;
    -webkit-appearance: none;
  }

  .selection:hover {
    border-color: #f10000;
  }

  .selection option:hover {
    cursor: pointer;
  }

  .booking-box img[src*="down-arrow"] {
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .flight-bookpc {
    width: 0px;
  }

  .flight-book {
    position: relative;
    width: 100%;
    margin-bottom: 2px;
  }

  /* Arrow Styles */
  .arrow {
    position: absolute;
    border: solid #f10000;
    border-width: 0 2px 2px 0;
    transform: rotate(-135deg);
    padding: 6px;
    right: 16px;
    top: 16px;
  }

  .arrow-down {
    transition-duration: 500ms;
    top: 10px;
    /*Rotates from original position so for a clockwise effect, this direction is required*/
    transform: rotate(-315deg);
  }

  .arrow-up {
    transition-duration: 500ms;
    top: 16px;
    transform: rotate(-135deg);
  }

  /* Date Picker Styles*/
  select {
    height: 90px;
  }

  .fixed {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: white;
    z-index: 3;
  }

  .fixed .heading-div {
    position: relative;
    height: 7rem;
    background-color: #f10000;
  }

  .fixed .heading-div .date-picker-heading {
    position: absolute;
    left: 50%;
    /*width is 314.5px*/
    margin-left: -157.025px;
    top: 50%;
    /*height is 49px*/
    margin-top: -29px;
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
  }

  .date-picker {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: white;
    cursor: pointer;
    user-select: none;
    /*height: 360px;*/
  }

  .selected-date {
    position: absolute;
    z-index: 1;
    top: 6.5px;
    left: 16px;
    font-size: 22px;
  }

  .date-picker .dates {
    position: absolute;
    left: 0;
    right: 0;
  }

  .date-picker .dates .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 200px;
  }

  .date-picker .dates .days .day {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f10000;
  }

  .date-picker .dates .months {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #f10000;
    padding: 0.5rem;
  }

  .date-picker .dates .months .pointers {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 50px;
  }

  .date-picker .dates .months .mth {
    font-size: 2rem;
  }

  .height-none {
    transition: 500ms;
    height: 0%;
  }

  .height-full {
    transition: 500ms;
    height: 100%;
  }


  /* For PC*/
  .date-picker .dates .months .pointers:hover {
    /*pick some styling*/
  }

}
